.DS_Store
node_modules
.tmp
npm-debug.log
target/*

/target/
/bin/
/out/

/.vscode/

*.class
*.jar
*.war
*.ear

*.log

/.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak

.gradle/
/build/

*.iml
.idea/
*.project
*.classpath
.settings/

.DS_Store
Thumbs.db

.env
*.env
